@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500;600&display=swap');
@import './_reset';
@import url();

@font-face {
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

// ====================================items===========================================
.w_100 {
    width: 100% !important;

    .wrap_thumb {
        height: auto !important;
        max-height: 600px;

    }
}

.f32 {
    font-size: 32px !important;
    font-weight: 400;
    font-style: normal;
    font-family: 'Pretendard-Regular';
}

.items_body {
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.item {
    overflow: hidden;
    width: 297px;
    margin-bottom: 36px;

    border-radius: 14px;
    background-color: #fff;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
    position: sticky;
    top: 5px;
    transition: 0.2s ease;

    &:hover {
        transform: translateY(-5px);
    }

    a {
        display: block;
    }

    .item-info {
        padding: 24px;
        position: relative;

        .fa-solid {
            position: absolute;
            right: 3%;
            color: #aaa;
        }

        .gridlayout_right_txt {
            line-height: 34px;
            background-color: #eee;
            border-radius: 13px;
            font-size: 13px;
            padding: 0 20px;
        }

        .gridlayout_right_tit {
            font-size: 18px;
            font-family: arial;
            color: #000;
            margin: 7.5% auto;
        }

        .gridlayout_right_info {
            color: #666;
            font-size: 13px;
            height: 19px;
        }
    }

    .wrap_thumb {
        height: 166px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

}

// ====================================items end===========================================




header {
    max-width: 1296px;
    margin: 0 auto;


    .e1 {
        width: 100%;


    }

    nav {
        text-align: center;
        margin: 0 auto;


    }

    .btn {

        ul {

            font-size: 24px;
            display: flex;
            width: 100%;

            margin: 0 auto;
            padding: 10px;

            button {
                all: unset;
                margin-left: 40px;

            }

            .hidden {
                display: none;
            }
        }


    }


}

main {
    max-width: $wid;
    margin: 0 auto;
    font-family: 'Gothic A1', sans-serif;
}

.news {
    position: relative;
    max-width: 100%;
    margin: 0 auto;

    .e2 {
        width: 100%;
        height: 100%;
        margin: 8%;
        margin-left: 0;

        font-weight: 700;
        padding-left: 144px;
        font-size: 46px;


        background-image: url('../img/ico_date21.gif');
        background-repeat: no-repeat;
        line-height: 70px;
        padding-left: 150px;

        span {
            background: #fff;
            width: 100%;
            padding-left: 0px;
        }


    }
}

.gridlayout {
    display: flex;
    margin: 0;
    padding: 0;




    &.change {
        .gridlayout_1 {
            order: 2;

        }

        .gridlayout_right {
            order: 1;
        }
    }

    .gridlayout_1 {
        width: 660px;
        padding: 0 18px;


    }


    .gridlayout_right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        max-width: 666px;
        padding: 0 18px;
        box-sizing: border-box;

    }

}


.main2 {
    display: block;
    height: 540px;

    margin: 36px 18px;

    border-radius: 14px;
    background-color: #fff;

    box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);
    text-align: center;
    box-sizing: border-box;
    font-size: 42px;
    padding: 54px 66px 0;

    .m_1 {

        font-size: 14px;
        display: inline-block;
        height: 33px;
        margin-top: 36px;
        padding: 9px 20px 0;
        border-radius: 42px;
        color: #fff;
        background-color: #000;

    }

    .m_2 {
        width: 100%;

        img {

            padding: 5%;
            max-width: 900px;
            width: 100%;
            object-fit: cover;
        }
    }

}



.main3 {
    display: flex;

    margin: 36px 18px;
    height: 116px;
    padding: 28px 36px;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-radius: 14px;
    box-sizing: border-box;
    box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);

    h2 {
        font-size: 32px;
    }



    li {
        margin: 0 5px;
        float: left;

        img {
            width: 60px;
            height: 60px;
        }
    }

}


.m5 {
    display: flex;

    font-size: 32px;
    width: $wid;
    height: 360px;
    padding: 0 18px;
    /*  margin: 0 18px; */



    .m5_1 {

        width: 100%;
        background-color: #fae100;
        padding: 36px;
        border-radius: 12px;
        box-sizing: border-box;
        box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
        margin: 0 auto;


        background-image: url('../img/bg_home_service.png');
        background-size: 160px;
        background-repeat: no-repeat;
        background-position: calc(100% - 30px) calc(100% - 30px);

    }



    .m5_2 {

        width: 100%;

        background-color: #3c64ff;

        border-radius: 12px;
        box-sizing: border-box;
        box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);



        padding: 36px;
        background-image: url('../img/bg_home_recruit.png');

        background-size: 309px;
        background-position: calc(100% - 30px) calc(100% - 30px);
        background-repeat: no-repeat;

        img {
            display: flex;
            align-items: center;
            text-align: center;
        }

        .m5_3 {

            font-size: 14px;
            display: inline-block;
            height: 33px;
            margin-top: 24px;
            padding: 9px 20px 0;
            border-radius: 42px;
            line-height: 22px;
            color: #fff;
            background-color: #000;

        }


    }
}


.m6 {
    margin: 84px auto;
    line-height: 60px;
    text-align: center;
    background-color: #eee;
    font-size: 18px;
    border-radius: 60px;
    width: 260px;
    height: 60px;

}

footer {
    .footer_1 {
        background: var(--colorBg3);
        border-top: 1px solid #ebebeb;
        display: block;







        .footer_2 {
            max-width: $wid;
            height: 219px;
            margin: 0 auto;
            padding: 37px 0 48px;


            .menu {
                float: left;
                width: 14.28%;
                margin: 0 auto;
                padding: 0;
            }

            .menu_1 {
                line-height: 20px;
                letter-spacing: -.2px;
                color: #888;
            }

            li {
                margin-top: 12px;
            }


        }










    }

    .footer_3 {
        margin: 0 auto;
        margin-top: 120px;
        font-size: 12px;
        width: $wid;
        height: 58px;


        .group {
            width: $wid;
            height: 58px;
            margin-bottom: 100%;
            margin: 0 auto;
            padding: 0;
        }

        .group_1 {
            float: left;
            margin-left: -24px;


        }

        .group_2 {
            float: left;
            position: relative;
            line-height: 18px;
            margin-left: 24px
        }

        a {
            font-size: 12px;
            letter-spacing: -.2px;
            color: #888;
        }

    }

    .group1 {
        a {
            float: right;

            width: 208px;
            font-size: 12px;

            background: #eee;
            border-radius: 24px;
            margin: 0 auto;
            padding: 10px 20px 12px;

            svg {
                float: right;
                width: 14px;
                height: 14px;
                margin-top: 3px;

            }



            small {

                margin: 0 auto;
                display: block;
                font-size: 12px;
                color: #888;
                clear: both;
            }
        }






    }

    .search-container {
        position: relative;
        display: inline-block;
    }

    .search-input {
        padding: 8px;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        background-color: #f6f6f6;
        width: 300px;
        transition: width 0.4s ease-in-out;
    }

    .search-input:focus {
        width: 400px;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        right: -40px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
    }
}

// =====================================================================================
// =================================1439px================================================
// =====================================================================================


@media (max-width:1439px) {
    $wid : 952px;

    .w_100 {
        width: 100% !important;

        .wrap_thumb {
            height: auto !important;
            max-height: 600px;
        }
    }

    .f32 {
        font-size: 32px !important;
    }

    .items_body {
        max-width: 327px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .item {
        overflow: hidden;
        width: 297px;
        margin-bottom: 36px;


        border-radius: 14px;
        background-color: #fff;
        box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
        transition: 0.2s ease;

        &:hover {
            transform: translateY(-5px);
        }

        a {
            display: block;
        }

        .item-info {
            padding: 24px;
            position: relative;


            .fa-solid {
                position: absolute;
                right: 3%;
                color: #aaa;
            }

            .gridlayout_right_txt {
                line-height: 34px;
                background-color: #eee;
                border-radius: 13px;
                font-size: 13px;
                padding: 0 20px;
            }

            .gridlayout_right_tit {
                font-size: 18px;
                font-family: arial;
                color: #000;
                margin: 7.5% auto;
            }

            .gridlayout_right_info {
                color: #666;
                font-size: 13px;
                height: 19px;
            }
        }

        .wrap_thumb {
            height: 166px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

    }


    header {
        max-width: 952px;
        margin: 0 auto;

        .e1 {
            width: 100%;

        }

        nav {

            margin: 0 auto;
        }
    }

    main {
        max-width: $wid;
        margin: 0 auto;
        font-family: 'Gothic A1', sans-serif;
    }

    .news {
        position: relative;
        max-width: 100%;
        margin: 0 auto;

        .e2 {
            width: 100%;
            height: 100%;
            margin: 8%;
            margin-left: 0;

            font-weight: 700;
            padding-left: 144px;
            font-size: 46px;


            background-image: url('../img/ico_date21.gif');
            background-repeat: no-repeat;
            line-height: 70px;
            padding-left: 150px;

            span {
                background: #fff;
                width: 100%;
                padding-left: 0px;
            }


        }
    }

    .gridlayout {
        display: flex;
        margin: 0;
        padding: 0;

        &.change {
            .gridlayout_1 {
                order: 2;
            }

            .gridlayout_right {
                order: 1;
            }
        }

        .gridlayout_1 {
            width: 660px;
            padding: 0 18px;

        }


        .gridlayout_right {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            max-width: 666px;
            padding: 0 18px;
            box-sizing: border-box;
        }

    }


    .main2 {
        display: block;
        margin: 30px 15px 0;



        border-radius: 14px;
        background-color: #fff;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);
        text-align: center;
        box-sizing: border-box;
        font-size: 42px;
        padding: 54px 66px 0;

        .m_1 {

            font-size: 14px;
            display: inline-block;
            height: 33px;
            margin-top: 36px;
            padding: 9px 20px 0;
            border-radius: 42px;
            color: #fff;
            background-color: #000;

        }

        .m_2 {
            width: 100%;

            img {

                padding: 5%;
                max-width: 900px;
                width: 100%;
                object-fit: cover;
            }
        }

    }

    .main3 {
        display: flex;
       /*  height: 116px; */
   
        justify-content: space-between;
        align-items: center;
        max-width: 952px;
        background-color: #fff;
        border-radius: 14px;
        box-sizing: border-box;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);

        h2 {
            width: 100%;
            font-size: 32px;
        }

        ul{

        }
        
        .main3_1 {
            width: 100%;

        }
    }

    .m5 {
        display: flex;
        justify-content: space-between;
        font-size: 32px;
        width: $wid;
        height: 360px;
        padding: 0 18px;




        .m5_1 {


            background-color: #fae100;
            padding: 36px;
            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);

            margin: 0 auto;

            background-image: url('../img/bg_home_service.png');
            background-size: 160px;
            background-repeat: no-repeat;
            background-position: calc(100% - 30px) calc(100% - 30px);

        }



        .m5_2 {



            background-color: #3c64ff;

            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
            height: 360px;

            margin: 0 auto;
            padding: 36px;
            background-image: url('../img/bg_home_recruit.png');

            background-size: 309px;
            background-position: calc(100% - 30px) calc(100% - 30px);
            background-repeat: no-repeat;

            img {
                display: flex;
                align-items: center;
                text-align: center;
            }

            .m5_3 {

                font-size: 14px;
                display: inline-block;
                height: 33px;
                margin-top: 24px;
                padding: 9px 20px 0;
                border-radius: 42px;
                line-height: 22px;
                color: #fff;
                background-color: #000;

            }


        }
    }


    .m6 {
        margin: 84px auto;
        line-height: 60px;
        text-align: center;
        background-color: #eee;
        font-size: 18px;
        border-radius: 60px;
        width: 260px;
        height: 60px;

    }

    footer {
        .footer_1 {
            background: var(--colorBg3);
            border-top: 1px solid #ebebeb;
            display: block;







            .footer_2 {
                max-width: $wid;
                height: 219px;
                margin: 0 auto;
                padding: 37px 0 48px;


                .menu {
                    float: left;
                    width: 14.28%;
                    margin: 0 auto;
                    padding: 0;
                }

                .menu_1 {
                    line-height: 20px;
                    letter-spacing: -.2px;
                    color: #888;
                }

                li {
                    margin-top: 12px;
                }


            }










        }

        .footer_3 {
            margin: 0 auto;
            margin-top: 120px;
            font-size: 12px;

            height: 58px;
            max-width: 952px;
            padding-top: 36px;
        }

        .group {
            width: $wid;
            height: 58px;
            margin-bottom: 100%;
            margin: 0 auto;
            padding: 0;
        }

        .group_1 {
            float: left;
            margin-left: -24px;


        }

        .group_2 {
            float: left;
            position: relative;
            line-height: 18px;
            margin-left: 24px
        }

        a {
            font-size: 12px;
            letter-spacing: -.2px;
            color: #888;
        }

    }

    .group1 {
        a {
            float: right;

            width: 208px;
            font-size: 12px;

            background: #eee;
            border-radius: 24px;
            margin: 0 auto;
            padding: 10px 20px 12px;

            svg {
                float: right;
                width: 14px;
                height: 14px;
                margin-top: 3px;

            }



            small {

                margin: 0 auto;
                display: block;
                font-size: 12px;
                color: #888;
                clear: both;
            }
        }






    }


}



// =====================================================================================
// =================================1023px================================================
// =====================================================================================

@media (max-width: 1023px) {
    $wid : 630px;

    .w_100 {
        width: 100% !important;

        .wrap_thumb {
            // height: auto !important;
            max-height: 850px;
        }
    }

    .f32 {
        font-size: 32px !important;
    }

    .items_body {
        max-width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .item {
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 36px;


        border-radius: 14px;
        background-color: #fff;
        box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
        transition: 0.2s ease;

        &:hover {
            transform: translateY(-5px);
        }

        a {
            display: block;
        }

        .item-info {
            padding: 24px;
            position: relative;

            .fa-solid {
                position: absolute;
                right: 3%;
                color: #aaa;
            }

            .gridlayout_right_txt {
                line-height: 34px;
                background-color: #eee;
                border-radius: 13px;
                font-size: 13px;
                padding: 0 20px;
            }

            .gridlayout_right_tit {
                font-size: 18px;
                font-family: arial;
                color: #000;
                margin: 7.5% auto;
            }

            .gridlayout_right_info {
                color: #666;
                font-size: 13px;
                height: 19px;
            }
        }

        .wrap_thumb {
            height: 166px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

    }

    header {
        max-width: 100%;
        margin: 0 auto;

        .e1 {
            width: 100%;

        }

        nav {


            margin: 0 auto;


        }

        .btn {
            ul {
                float: right;

            }

            img {
                display: block;
            }

        }


    }

    main {
        max-width: $wid;
        margin: 0 auto;
        font-family: 'Gothic A1', sans-serif;
    }

    .news {
        position: relative;
        max-width: 100%;
        margin: 0 auto;

        .e2 {
            width: 100%;
            height: 100%;
            margin: 8%;
            margin-left: 0;

            font-weight: 700;
            padding-left: 144px;
            font-size: 46px;


            background-image: url('../img/ico_date21.gif');
            background-repeat: no-repeat;
            line-height: 70px;
            padding-left: 150px;

            span {
                background: #fff;
                width: 100%;
                padding-left: 0px;
            }


        }
    }

    .gridlayout {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /*    justify-content: space-between; */
        margin: 0;



        &.change {
            .gridlayout_1 {
                order: 2;
            }

            .gridlayout_right {
                order: 1;
            }
        }

        .gridlayout_1 {
            width: 660px;
            padding: 0 18px;

        }


        .gridlayout_right {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            max-width: 666px;
            padding: 0 18px;
            box-sizing: border-box;
        }

    }


    .main2 {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 36px;
        padding: 48px 52px 38px;
        border-radius: 14px;
        background-color: #fff;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);
        text-align: center;
        box-sizing: border-box;
        font-size: 36px;


        .m_1 {

            font-size: 14px;
            display: inline-block;
            height: 33px;
            margin-top: 36px;
            padding: 9px 20px 0;
            border-radius: 42px;
            color: #fff;
            background-color: #000;

        }

        .m_2 {
            width: 100%;
            

            img {

                padding: 5%;
                max-width: 900px;
                width: 100%;
                object-fit: cover;
            }
        }

    }

    .main3 {
        width: 100%;
        display: flex;
        max-width: 100%;
        margin-top: 36px;
        height: auto;
        padding: 36px;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        background-color: #fff;
        border-radius: 14px;
        box-sizing: border-box;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);

        h2 {
            margin: 0px;

            font-size: 32px;
        }



        li {
            margin: 0 5px;
            float: left;

        }

    }

    .m5 {
        display: flex;
        justify-content: space-between;
        font-size: 32px;

        max-width: 660px;
        height: auto;
        padding: 0 18px;
        flex-direction: column;

        .m5_1 {
            width: 100%;
            padding-bottom: 36px;
            background-color: #fae100;
            height: 360px;
            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);

            margin: 0 auto;

            background-image: url('../img/bg_home_service.png');
            background-size: 160px 160px;
            background-repeat: no-repeat;
            background-position: calc(100% - 40px) calc(100% - 40px);

        }



        .m5_2 {
            float: none;

            width: 100%;
            padding: 36px;

            background-color: #3c64ff;

            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);


            margin: 0 auto;

            background-image: url('../img/bg_home_recruit.png');

            background-size: 309px 160px;
            background-position: calc(100% - 40px) calc(100% - 40px);
            background-repeat: no-repeat;

            img {
                display: flex;
                align-items: center;
                text-align: center;
            }

            .m5_3 {

                font-size: 14px;
                display: inline-block;
                height: 33px;
                margin-top: 24px;
                padding: 9px 20px 0;
                border-radius: 42px;
                line-height: 22px;
                color: #fff;
                background-color: #000;

            }


        }
    }


    .m6 {
        margin: 84px auto;
        line-height: 60px;
        text-align: center;
        background-color: #eee;
        font-size: 18px;
        border-radius: 60px;
        width: 260px;
        height: 60px;

    }

}


// =====================================================================================
// =================================767px================================================
// =====================================================================================
@media(max-width: 767px) {
    $wid : 364px;

    .w_100 {
        width: 100% !important;

        .wrap_thumb {
            height: auto !important;
            max-height: 600px;
        }
    }

    .f32 {
        font-size: 32px !important;
    }

    .items_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column
    }

    .item {
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 36px;


        border-radius: 14px;
        background-color: #fff;
        box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
        transition: 0.2s ease;

        &:hover {
            transform: translateY(-5px);
        }

        a {
            display: block;
        }

        .item-info {
            padding: 24px;
            position: relative;

            .fa-solid {
                position: absolute;
                right: 3%;
                color: #aaa;
            }

            .gridlayout_right_txt {
                line-height: 34px;
                background-color: #eee;
                border-radius: 13px;
                font-size: 13px;
                padding: 0 20px;
            }

            .gridlayout_right_tit {
                font-size: 18px;
                font-family: arial;
                color: #000;
                margin: 7.5% auto;
            }

            .gridlayout_right_info {
                color: #666;
                font-size: 13px;
                height: 19px;
            }
        }

        .wrap_thumb {
            height: 166px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

    }

    main {
        max-width: $wid;
        margin: 0 auto;
        font-family: 'Gothic A1', sans-serif;
    }

    .news {
        position: relative;
        max-width: 100%;
        margin: 0 auto;

        .e2 {
            width: 100%;
            height: 100%;
            margin: 8%;
            margin-left: 0;

            font-weight: 700;
            padding-left: 144px;
            font-size: 46px;


            background-image: url('../img/ico_date21.gif');
            background-repeat: no-repeat;
            line-height: 70px;
            padding-left: 150px;

            span {
                background: #fff;
                width: 100%;
                padding-left: 0px;
            }


        }
    }

    .gridlayout {
        display: flex;

        margin: 0;
        padding: 0;
        max-width: 100%;

        &.change {
            .gridlayout_1 {
                order: 2;
            }

            .gridlayout_right {
                order: 1;
            }
        }

        .gridlayout_1 {
            max-width: 100%;
            padding: 0 18px;

        }


        .gridlayout_right {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            max-width: 666px;
            padding: 0 18px;
            box-sizing: border-box;
        }

    }


    .main2 {
        display: block;
        height: 540px;
        width: $wid;

        margin: 30px 15px 0;
        border-radius: 14px;
        background-color: #fff;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);
        text-align: center;
        box-sizing: border-box;
        font-size: 42px;
        padding: 54px 66px 0;

        .m_1 {

            font-size: 14px;
            display: inline-block;
            height: 33px;
            margin-top: 36px;
            padding: 9px 20px 0;
            border-radius: 42px;
            color: #fff;
            background-color: #000;

        }

        .m_2 {
            width: 100%;

            img {

                padding: 5%;
                max-width: 900px;
                width: 100%;
                object-fit: cover;
            }
        }

    }

    .main3 {
        display: flex;
        width: 100%;
        margin: 30px auto;
        height: 116px;
        padding: 40px;
        justify-content: space-between;
        align-items: center;

        background-color: #fff;
        border-radius: 14px;
        box-sizing: border-box;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);

        h2 {
            font-size: 32px;
        }



        li {
            margin: 0 5px;
            float: left;

        }

    }

    .m5 {
        display: flex;
        justify-content: space-between;
        font-size: 32px;
        width: $wid;
        height: 360px;
        padding: 0 18px;


        .m5_1 {


            background-color: #fae100;
            padding: 36px;
            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);

            margin: 0 auto;

            background-image: url('../img/bg_home_service.png');
            background-size: 160px;
            background-repeat: no-repeat;
            background-position: calc(100% - 30px) calc(100% - 30px);

        }



        .m5_2 {



            background-color: #3c64ff;

            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
            height: 360px;

            margin: 0 auto;
            padding: 36px;
            background-image: url('../img/bg_home_recruit.png');

            background-size: 309px;
            background-position: calc(100% - 30px) calc(100% - 30px);
            background-repeat: no-repeat;

            img {
                display: flex;
                align-items: center;
                text-align: center;
            }

            .m5_3 {

                font-size: 14px;
                display: inline-block;
                height: 33px;
                margin-top: 24px;
                padding: 9px 20px 0;
                border-radius: 42px;
                line-height: 22px;
                color: #fff;
                background-color: #000;

            }


        }
    }


    .m6 {
        margin: 84px auto;
        line-height: 60px;
        text-align: center;
        background-color: #eee;
        font-size: 18px;
        border-radius: 60px;
        width: 260px;
        height: 60px;

    }

    // ====================================items===========================================
    .w_100 {
        width: 100% !important;

        .wrap_thumb {
            height: auto !important;
            max-height: 600px;
        }
    }

    .f32 {
        font-size: 32px !important;
    }

    .items_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .item {
        overflow: hidden;
        width: 297px;
        margin-bottom: 36px;


        border-radius: 14px;
        background-color: #fff;
        box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);

        a {
            display: block;
        }

        .item-info {
            padding: 24px;
            position: relative;

            .fa-solid {
                position: absolute;
                right: 3%;
                color: #aaa;
            }

            .gridlayout_right_txt {
                line-height: 34px;
                background-color: #eee;
                border-radius: 13px;
                font-size: 13px;
                padding: 0 20px;
            }

            .gridlayout_right_tit {
                font-size: 18px;
                font-family: arial;
                color: #000;
                margin: 7.5% auto;
            }

            .gridlayout_right_info {
                color: #666;
                font-size: 13px;
                height: 19px;
            }
        }

        .wrap_thumb {
            height: 166px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

    }

    // ====================================items end===========================================


    header {
        max-width: 1296px;
        margin: 0 auto;

        .e1 {
            width: 100%;

        }

        nav {

            margin: 0 auto;
        }
    }


    main {
        max-width: $wid;
        margin: 0 auto;
        font-family: 'Gothic A1', sans-serif;
    }

    .news {
        position: relative;
        max-width: 100%;
        margin: 0 auto;

        .e2 {
            width: 100%;
            height: 100%;
            margin: 8%;
            margin-left: 0;

            font-weight: 700;
            padding-left: 144px;
            font-size: 46px;


            background-image: url('../img/ico_date21.gif');
            background-repeat: no-repeat;
            line-height: 70px;
            padding-left: 150px;

            span {
                background: #fff;
                width: 100%;
                padding-left: 0px;
            }


        }
    }

    .gridlayout {
        display: flex;
        margin: 0;
        padding: 0;

        &.change {
            .gridlayout_1 {
                order: 2;
            }

            .gridlayout_right {
                order: 1;
            }
        }

        .gridlayout_1 {
            width: 660px;
            padding: 0 18px;

        }


        .gridlayout_right {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            max-width: 666px;
            padding: 0 18px;
            box-sizing: border-box;
        }

    }


    .main2 {
        display: block;
        height: 540px;
        width: $wid;


        border-radius: 14px;
        background-color: #fff;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);
        text-align: center;
        box-sizing: border-box;
        font-size: 42px;
        padding: 54px 66px 0;

        .m_1 {

            font-size: 14px;
            display: inline-block;
            height: 33px;
            margin-top: 36px;
            padding: 9px 20px 0;
            border-radius: 42px;
            color: #fff;
            background-color: #000;

        }

        .m_2 {
            width: 100%;

            img {

                padding: 5%;
                max-width: 900px;
                width: 100%;
                object-fit: cover;
            }
        }

    }

    .main3 {
        display: flex;
        width: 100%;
        margin: 30px auto;
        height: 116px;
        padding: 40px;
        justify-content: space-between;
        align-items: center;

        background-color: #fff;
        border-radius: 14px;
        box-sizing: border-box;
        box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .08);

        h2 {
            font-size: 32px;
        }



        li {
            margin: 0 5px;
            float: left;

        }

    }

    .m5 {
        display: flex;
        justify-content: space-between;
        font-size: 32px;
        width: $wid;
        height: 360px;
        padding: 0 18px;


        .m5_1 {


            background-color: #fae100;
            padding: 36px;
            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);

            margin: 0 auto;

            background-image: url('../img/bg_home_service.png');
            background-size: 160px;
            background-repeat: no-repeat;
            background-position: calc(100% - 30px) calc(100% - 30px);

        }



        .m5_2 {



            background-color: #3c64ff;

            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
            height: 360px;

            margin: 0 auto;
            padding: 36px;
            background-image: url('../img/bg_home_recruit.png');

            background-size: 309px;
            background-position: calc(100% - 30px) calc(100% - 30px);
            background-repeat: no-repeat;

            img {
                display: flex;
                align-items: center;
                text-align: center;
            }

            .m5_3 {

                font-size: 14px;
                display: inline-block;
                height: 33px;
                margin-top: 24px;
                padding: 9px 20px 0;
                border-radius: 42px;
                line-height: 22px;
                color: #fff;
                background-color: #000;

            }


        }
    }


    .m6 {
        margin: 84px auto;
        line-height: 60px;
        text-align: center;
        background-color: #eee;
        font-size: 18px;
        border-radius: 60px;
        width: 260px;
        height: 60px;

    }

}